/* Most styles already adapted from bootstrap commands in index.html file. CSS used to unify font acrosss all pages*/
a { 
    margin: 5px;
    font-family: 'Work Sans', sans-serif; !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif; !important;
}
p, div {
    font-family: 'Work Sans', sans-serif; !important;
}

body {
    font-family: 'Work Sans', sans-serif; !important;
 }